<app-toast-container></app-toast-container>
<div class="app-horizon">
  <div class="app-horizon__aurora">
    <span class="beam beam--one"></span>
    <span class="beam beam--two"></span>
    <span class="beam beam--three"></span>
  </div>
  <div class="app-horizon__noise"></div>

  <div class="app-horizon__content text-gm-text">
    <div class="app-horizon__nav">
      <app-navbar></app-navbar>
    </div>

    <main class="app-horizon__main">
      <section class="surface">
        <div class="surface__glare"></div>
        <div class="surface__body">
          <router-outlet></router-outlet>
        </div>
      </section>
    </main>
  </div>
</div>